{% extends "base.html" %}
{% block header %}
{% load static %}
 <!-- Navigation bar -->
    <section id="nav-section">
     <nav class="navbar bg-success navbar-dark navbar-expand-md">
        <div class="container-fluid navigation-container">
        <a href="#" class="navbar-brand brand-style">Admin</a>
        <button type="button" name="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto">

         <li class="nav-item item-style">
             <div class="dropdown">
                <a class="nav-link link-style dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Projects</a>
                  <ul class="dropdown-menu dd-menu-style">
                     <li><a href="{% url 'stockInvest' %}" class="dropdown-item  dd-link-style">Invest</a></li>
                     <li><a class="dropdown-item dd-link-style" href="#">Trade</a></li>
                     <li><a href="{% url 'stockAvgCalculator' %}" class="dropdown-item  dd-link-style">Stock Avg</a></li>
                  </ul>
             </div>
          </li>
         <li class="logout-item-style">
           <a href="#" class = "admin-logout">Logout</a>
         </li>
        </ul>
        </div>
      </div>
     </nav>
   </section>
{% endblock %}

